@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body{
    margin: 0%;
    padding: 0%;
    padding-top: 68px;
}

.nav{
    background-color: #76B91A;
    height: 65px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.nav img{
    width: 188px;
    height: 44px;
}

.home {
    display: inline-block;
    padding: 11px 16px 6px;
}

.home:hover {
    background: rgba(138, 138, 138, 0.5);
    
}

#search-bar{
    display: inline-block;
    margin: auto;
    position: absolute;
    margin: 19px 10px 19px 18%;
    padding: 3px;
    border-radius: 50px;
    width: 36%;
    background: url('../images/search-icon.png') no-repeat 9px #fff;
}

#search-bar:hover{
    box-shadow: 0px 0px 5px #005736;
}

#input-search-bar{
    margin: 0px;
    padding: 0px;
    margin-left: 32px;
    border: none;
    outline: none;
    width: 87%;
    font-family: 'Open Sans', sans-serif;
}

.container{
    float: right;
    width: 200px;
    height: 65px;
    margin: 0px;
    display: table;
}

.nombre-usuario{
    margin: 0px 0px 17px 0px;
    float: right;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.foto-usuario{
    width: 80px;
    height: 65px;
    display: table-cell;
}

.foto-usuario img{
    width: 62%;
    height: auto;
    margin-left: 12%;
    margin-top: 5px;
    margin-bottom: 0px;
    border-radius: 60px;
    border: solid;
    border-color: #fff;
}

.border-line{
    background-color: #6ba61b;
    width: 100%;
    height: 3px; 
}


.ventana{
    background-color: #ffffff;
    width: 100%;
    height: 125px;
    display: block;
}

.maquina-de-escribir{
    margin: auto;
    margin-left: 6%;
}

.maquina-de-escribir h1{
    float: left;
    color: #000;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 100;
    cursor: pointer;
}

.maquina-de-escribir h1 span{
    position: absolute;
    right: 0;
    width: 0;
    background-color: #fff;
    border-left: 2px solid #000;
    animation: maquina 4s steps(56);
}

@keyframes maquina {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}

.box{
    display: inline-block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 2%;
    margin-left: 86px;
    width: 26%;
    height: 400px;
    border-radius: 10px;
    border: solid #b8b7b7;
}

.usuario{
    width: 90%;
    height: 17%;
    margin-left: 5%;
    margin-top: 2%;
}

.usuario img{
    width: 50px;
    height: auto;
    border-radius: 50px;
    border: solid;
    border-color: #6ba61b;
}

.usuario p{
    margin-top: 15px;
    margin-left: 5px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

.publicacion{
    width: 90%;
    height: 75%;
    margin-left: 5%;
    margin-top: 0%;
    overflow: hidden;
    
}

.publicacion img{
   width: 374px; 
   height: 374;
}
