<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--Css-->
    <link rel="stylesheet" href="../../static/css/index.css">
    <!--Css-->
</head>
<body>
    <section>
        <header>
            <a href="#"><img src="../../images/logo.png" alt="logo" class="logo"></a>
            <ul>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Info</a></li>
                <a href="#"><button class="signin">Sign in</button></a>
                <a href="#"><button class="login">Sign up</button></a>
            </ul>
        </header>
        <div class="container">
            <ul class="slider">
                <li id="slide1"><img src="../../images/index/slider1.jpeg" alt=""></li>
                <li id="slide2"><img src="../../images/index/slider2.jpeg" alt=""></li>
                <li id="slide3"><img src="../../images/index/slider3.jpeg" alt=""></li>
                <li id="slide4"><img src="../../images/index/slider4.jpeg" alt=""></li>
                <li id="slide5"><img src="../../images/index/slider5.jpeg" alt=""></li>
            </ul>

            <ul class="menu">
                <li><a href="#slide1">1</a></li>
                <li><a href="#slide2">2</a></li>
                <li><a href="#slide3">3</a></li>
            </ul>
        <div class="content">
            </div>
            <div class="textBox">
                <h1><b class="neo">Neo</b><b class="phe">phe</b><b class="ma">ma</b><b class="pul"> Pul</b><b class="che">che</b><b class="lla">lla</b></h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quam exercitationem voluptatem distinctio repudiandae alias culpa soluta earum quas quae, dolor quo iure mollitia rerum impedit! Doloremque minima dicta minus, atque mollitia eligendi quos et iste deleniti qui accusantium laudantium quasi itaque voluptatum nostrum quaerat sunt nesciunt obcaecati! Voluptatibus minus sed maxime et ducimus consequatur aliquid magni unde adipisci eos.</p>
            </div>
        </div>
    </section>
</body>
</html>