<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles publicacion</title>
    <link rel="stylesheet" href="../static/css/detalles-publicacion.css">
</head>
<body>
    <header>
        <nav class="nav"> 
            <a class="home" href="feed.html"><img src="../static/images/logo_nav.png" alt="Logo home"></a>
            <div id="search-bar">
                <input type="text" id="input-search-bar" placeholder="Buscar usuarios">
            </div>
            <div class="container">
                <p class="nombre-usuario">Usuario_561123</p>
                <div class="foto-usuario">
                    <a href="perfil_usuario.html" id="usuario"><img src="../static/images/dog-g6b30f6462_1920.jpg" alt="foto-perfil"></a>
                </div>
            </div>
            <div class="border-line"></div>
        </nav>
    </header>


    <div class="box">
        <div class="informacion-usuario">
            <a href="#"><img src="../static/images/foto-perfil-publicacion3.jpg" name="o" alt="foto-perfil-publicador"></a>  <!--Usar label-->
            <div class="nombre-fecha">
                <p class="nombre_publicador"><b>Usuario_02048</b></p>
                <p class="fecha_publicacion">Publicado hace: 2 semanas</p>
            </div>
        </div>

        <div class="cont">
            <div class="publicacion">
                <img src="../static/images/publicacion3.jpg" alt="publicacion de: usuario">
            </div>

            <div class="comment_section">
                <div class="datos-publicacion">
                    <div class="iconos">
                        <img id="corazon" src="../static/images/corazon_simbolo.png" alt="likes">
                        <img id="comentarios" src="../static/images/comentario_simbolo.png" alt="comentarios">
                    </div>
                    <div class="datos">
                        <p id="cantidad_likes">10</p>
                        <p id="cantidad_comentarios">3</p>
                    </div>
                    <div class="division"></div>
                </div>
                <div class="comentarios-publicados">
                    <div class="box-comment">
                        <img src="../static/images/foto-perfil-publicacion3.jpg" alt="foto-perfil-publicacion">
                        <div class="nombre-comentario">
                            <p class="comentario-nombre"><b>Usuario_02048</b></p>
                            <p class="comentario-contenido">Tomando un buen vino :)</p>
                        </div>
                    </div>
                    <div class="box-comment">
                        <img src="../static/images/foto-perfil-publicacion1.jpg" alt="foto-perfil-publicacion">
                        <div class="nombre-comentario">
                            <p class="comentario-nombre"><b>Usuario_151215</b></p>
                            <p class="comentario-contenido">Muy buena foto</p>
                        </div>
                    </div>
                    <div class="box-comment">
                        <img src="../static/images/foto-perfil-publicacion2.png" alt="foto-perfil-publicacion">
                        <div class="nombre-comentario">
                            <p class="comentario-nombre"><b>Usuario_5432</b></p>
                            <p class="comentario-contenido">Jaja salu2</p>
                        </div>
                    </div>
                </div>   
                <div class="caja-de-comentario">
                    <textarea name="" class="escribir-comentario" id="" placeholder="Escribir comentario"></textarea>
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>