<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feed</title>
    <link rel="stylesheet" href="../static/css/feed.css">
    <script src="../static/js/feed/mostrar-saludo.js"></script>
    <script src="../static/js/feed/escribir.js"></script>
</head>
<body onload="cambiarText()">
    <header>
        <nav class="nav"> 
            <a class="home" href="feed.html"><img src="../static/images/logo_nav.png" alt="Logo home"></a>
            <div id="search-bar">
                <input type="text" id="input-search-bar" placeholder="Buscar usuarios">
            </div>
            <div class="container">
                <p class="nombre-usuario">Usuario_561123</p>
                <div class="foto-usuario">
                    <a href="#" id="prueba"><img src="../static/images/dog-g6b30f6462_1920.jpg" alt="foto-perfil"></a>
                </div>
            </div>
            <div class=border-line></div>
        </nav>
    </header>
    <div class="ventana" id="vent">
        <div class="maquina-de-escribir">
            <h1 id="texto" title="cerrar" onclick="cerrar_saludo()">Buenos días!<br></h1>
        </div>
    </div>
    <div class="box">
        <div class="usuario">
            <a href="#"><img src="../static/images/foto-perfil-publicacion1.jpg" alt="foto-perfil-publicacion"><p>Usuario_151215</p></a>           
        </div>
        <div class="publicacion">
            <a href="#">
                <img src="../static/images/publicacion1.jpg" alt="publicacion">
            </a>
            
        </div>
    </div>
    <div class="box">
        <div class="usuario">
            <a href="#"><img src="../static/images/foto-perfil-publicacion2.png" alt="foto-perfil-publicacion"><p>Usuario_5432</p></a>
            
        </div>
        <div class="publicacion">
            <a href="#"><img src="../static/images/publicacion2.png" alt="publicacion"></a>
        </div>
    </div>
    <div class="box">
        <div class="usuario">
            <a href="#"><img src="../static/images/foto-perfil-publicacion3.jpg" alt="foto-perfil-publicacion"><p>Usuario_02048</p></a>
            
        </div>
        <div class="publicacion">
            <a href="#"><img src="../static/images/publicacion3.jpg" alt="publicacion"></a>
        </div>
    </div>
    <div class="box">
        <div class="usuario">
            <a href="#"><img src="../static/images/foto-perfil-publicacion1.jpg" alt="foto-perfil-publicacion"><p>Usuario_151215</p></a>           
        </div>
        <div class="publicacion">
            <a href="#">
                <img src="../static/images/publicacion1.jpg" alt="publicacion">
            </a>
        </div>
    </div>
    <div class="box">
        <div class="usuario">
            <a href="#"><img src="../static/images/foto-perfil-publicacion2.png" alt="foto-perfil-publicacion"><p>Usuario_5432</p></a>
            
        </div>
        <div class="publicacion">
            <a href="#"><img src="../static/images/publicacion2.png" alt="publicacion"></a>
        </div>
    </div>
    <div class="box">
        <div class="usuario">
            <a href="#"><img src="../static/images/foto-perfil-publicacion3.jpg" alt="foto-perfil-publicacion"><p>Usuario_02048</p></a>
        </div>
        <div class="publicacion">
            <a href="#"><img src="../static/images/publicacion3.jpg" alt="publicacion"></a>
        </div>
    </div>
</body>
</html>