<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/perfil_usuario.css">
    <link rel="stylesheet" href="../static/iconos/fontello-cda8bb40/css/iconos.css">
    <script src="../static/js/perfil_usuario/ventana.js"></script>
    <script src="../static/js/perfil_usuario/cargar.js"></script>
    <title>Document</title>
</head>
<body onload="cargarImg()">


    
    <header>
        <nav class="nav"> 
            <a class="home" href="feed"><img src="../static/images/logo_nav.png" alt="Logo home"></a>
            <div id="search-bar">
                <input type="text" id="input-search-bar" placeholder="Buscar usuarios">
            </div>
            <div class="container">
                <p class="nombre-usuario">Usuario_561123</p>
                <div class="foto-usuario">
                    <a href="perfil_usuario" id="usuario"><img src="../static/images/dog-g6b30f6462_1920.jpg" alt="foto-perfil"></a>
                </div>
            </div>
            <div class="border-line"></div>
        </nav>
    </header>

    <div class="ventana" id="ventana">
        <div class="close-icon">
            <img onclick="cerrarVent()" src="../static/images/close.png" alt="">
        </div>
        <div class="display_Img">

        </div>
        <form class="upload_Form" method="POST">
            <label for="upload" class="icon-upload" id="icon-upload"></label>
            <input type="file"  name="upload" id="upload" class="upload_button" required="">  
            <input type="submit" class="enviar_img" value="Subir imagen">          
        </form>

    </div>
    
    <div class="informacion_Usuario">
        <img src="../static/images/foto-perfil-publicacion3.jpg" clas="foto_perfil" alt="">
        <p class="info-username">Usuario_67893</p>
        <i class="icon-upload" onclick="abrirVent()"></i>
    </div>
    <div class="box">
        <img name="publicacion" id="publicacion" src="../static/images/publicacion3.jpg" alt="">
        <img name="publicacion" id="publicacion" src="../static/images/publicacion1.jpg" alt="">
        <img name="publicacion" id="publicacion" src="../static/images/publicacion2.png" alt="">
        <img name="publicacion" id="publicacion" src="../static/images/publicacion1.jpg" alt="">
        <img name="publicacion" id="publicacion" src="../static/images/publicacion1.jpg" alt="">
        <img name="publicacion" id="publicacion" src="../static/images/publicacion2.png" alt="">
        <img name="publicacion" id="publicacion" src="../static/images/publicacion1.jpg" alt="">
        
    </div
</body>
</html>