<!DOCTYPE html>
<html lang="esp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up - Neophema Pulchella</title>
    <link rel="stylesheet" href="../static/css/sign_up_style.css">
    <script src="../static/js/sign_up/validaciones.js"></script>
</head>
<body>
    <div class="contenedor">
        <img src="../static/images/logo.png" alt="Neophema Pulchella logo" id="logo">
        <div class="texto">
            <h1 id="titulo">Sign up</h1>
        </div>
        <div class="form_tabla">
            {% block content %}
            <form id="formulario" method="POST">
                <div class="arrow1">
                    <div class="celda">
                        <input name="nombre" id="nombre" class="inputs" type="text" placeholder="Nombre" required="True">
                    </div>
                    <div class="celda">
                        <input name="apellido" id="apellido" class="inputs" type="text" placeholder="Apellido" required="True">
                    </div>
                </div>
                <div class="arrow2">
                    <div class="celda">
                        <input name="username" id="username" class="inputs" type="text" placeholder="Username" required="True"> 
                    </div>
                    <div class="celda">
                        <input name="email" id="email" class="inputs" type="email" placeholder="Correo electrónico" required="True">
                    </div>
                </div>  
                <div class="arrow3">
                    <div class="celda">
                        <input name="password" id="password" class="inputs" type="password" placeholder="Contraseña" required="True">
                    </div>
                    <div class="celda">
                        <input name="edad" id="edad" class="inputs" type="number" placeholder="Edad" min="13" max="90" required="True"> 
                    </div>  
                </div>    

                <div class="arrow4">
                    <p id="sexo">Sexo:</p>
                </div>  

                <div class="arrow5">
                    <div class="celda">
                        <input name="sexo" id="masculino" value="masculino" class="inputs_radio" type="radio" required="True"> 
                        <label for="masculino">Masculino</label>
                    </div>
                    <div class="celda">
                        <input name="sexo" id="femenino" value="femenino" class="inputs_radio" type="radio">
                        <label for="femenino">Femenino</label>
                    </div>
                    <div class="celda">
                        <input name="sexo" id="no_especificar" value="sin_especificar" class="inputs_radio" type="radio">
                        <label for="no_especificar">No especificar</label>
                    </div>
                </div>  





                <div class="arrow6">
                    <p id="terminos"> 
                        <label class="switch">
                            <input type="checkbox" required="True">
                            <span class="slider round"></span> 
                        </label>
                        &nbsp; &nbsp; Acepto <a href="#"><i>términos</i></a> y <a href="#"><i>condiciones</i></a>.
                    </p>  
                </div>
                <div class="arrow7">
                    <input name="boton_continuar" id="boton_continuar" type="submit" value="Continuar">
                </div>  
                <p id="opcion_login">Ya estás registrado? Haz <a href="sign_in"><i>Login</i></a> :D</p>
            </form>
            {% endblock %}
        </div>   
    </div>
</body>
</html>