<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in - Neophema Pulchella</title>
    <link rel="stylesheet" href="../static/css/sing_in_style.css">
</head>
<body>
    <div class="contenedor">
        <img src="../static/images/logo.png" alt="Neophema Pulchella logo" id="logo">
        <div class="texto">
            <h1 id="titulo">Sign in</h1>
        </div>
        <div class="form_tabla">
            <form id="formulario" method="POST">
                <div class="arrow2">
                    <div class="celda">
                        <input name="email" id="email" class="inputs" type="email" placeholder="Correo electrónico" required="True">
                    </div>
                    <div class="celda">
                        <input name="password" id="password" class="inputs" type="password" placeholder="Contraseña" required="True">
                    </div>
                </div> 
                <div class="arrow7">
                    <input name="boton_continuar" id="boton" type="submit" value="Entrar">
                </div>
                <div><hr class="division"></div>
                <p>o</p>
                <div><hr class="division"></div>                
            </form>   
                <div class="arrow7">
                    <a href="sign_up"><input name="boton_signup" id="boton" type="submit" value="Sign up"></a>
                </div>             
        </div>   
    </div>
</body>
</html>