.u-section-1 {
  background-image: url("images/g582f428b6cb82c86dc24e411caf98d05cadc66cce26aa0f34897ce0c5bd73255b8149650c1ee23d6ad72e7661ef3a24252390866086523c53696822da7ed53a9_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 733px;
}

.u-section-1 .u-text-1 {
  margin: 259px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 716px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 733px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 572px;
  }
}