.u-section-1 {
  background-image: url("images/gef766cf3378b98173adfafc867745c5ac31d05bfb2225fdb666ae8bc958ee362f948b0418c3cbabe10657abf6d59848ed128f4dc8c00ee98dd22819336d30527_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 883px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 69px auto 0;
}

.u-section-1 .u-form-1 {
  height: 468px;
  background-image: none;
  width: 366px;
  margin: 9px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: underline !important;
}

.u-section-1 .u-form-group-2 {
  margin-left: 0;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: underline !important;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: underline !important;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: underline !important;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
  font-size: 1.125rem;
  text-decoration: underline;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
  margin: -52px 395px 60px auto;
  padding: 10px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-1 .u-form-group-2 {
    margin-bottom: 0;
  }

  .u-section-1 .u-form-group-3 {
    margin-top: 20px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 195px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 419px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}