.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 1247px;
}

.u-section-1 .u-icon-1 {
  width: 136px;
  height: 136px;
  color: rgb(17, 17, 17) !important;
  margin: 70px auto 0 70px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  margin: -80px auto 0 236px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: -36px 30px 0 auto;
  padding: 9px 31px 11px 30px;
}

.u-section-1 .u-text-2 {
  font-size: 3.125rem;
  font-weight: 400;
  margin: 141px auto 0 12px;
}

.u-section-1 .u-list-1 {
  margin-top: 11px;
  margin-bottom: 0;
}

.u-section-1 .u-repeater-1 {
  min-height: 375px;
  grid-template-columns: repeat(3, calc(33.3333% - 5.33333px));
  grid-gap: 8px;
}

.u-section-1 .u-container-layout-1 {
  padding: 10px;
}

.u-section-1 .u-image-1 {
  background-image: url("images/g6c54aabc83d48f9370fd1c4b255148cfb74c630804b847fc0c7b34a1680f521d65a6697339bd49de23021064c658ca7524e636089bff74906e625c9207b4c99e_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  min-height: 355px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-container-layout-3 {
  padding: 10px;
}

.u-section-1 .u-image-2 {
  background-image: url("images/g6c54aabc83d48f9370fd1c4b255148cfb74c630804b847fc0c7b34a1680f521d65a6697339bd49de23021064c658ca7524e636089bff74906e625c9207b4c99e_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  min-height: 355px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-container-layout-5 {
  padding: 10px;
}

.u-section-1 .u-image-3 {
  background-image: url("images/g6c54aabc83d48f9370fd1c4b255148cfb74c630804b847fc0c7b34a1680f521d65a6697339bd49de23021064c658ca7524e636089bff74906e625c9207b4c99e_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  min-height: 355px;
}

.u-section-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-1 .u-list-2 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 60px;
}

.u-section-1 .u-repeater-2 {
  min-height: 375px;
  grid-template-columns: repeat(3, calc(33.3333% - 5.33333px));
  grid-gap: 8px;
}

.u-section-1 .u-container-layout-7 {
  padding: 10px;
}

.u-section-1 .u-image-4 {
  background-image: url("images/g6c54aabc83d48f9370fd1c4b255148cfb74c630804b847fc0c7b34a1680f521d65a6697339bd49de23021064c658ca7524e636089bff74906e625c9207b4c99e_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  min-height: 355px;
}

.u-section-1 .u-container-layout-8 {
  padding: 30px;
}

.u-section-1 .u-container-layout-9 {
  padding: 10px;
}

.u-section-1 .u-image-5 {
  background-image: url("images/g6c54aabc83d48f9370fd1c4b255148cfb74c630804b847fc0c7b34a1680f521d65a6697339bd49de23021064c658ca7524e636089bff74906e625c9207b4c99e_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  min-height: 355px;
}

.u-section-1 .u-container-layout-10 {
  padding: 30px;
}

.u-section-1 .u-container-layout-11 {
  padding: 10px;
}

.u-section-1 .u-image-6 {
  background-image: url("images/g6c54aabc83d48f9370fd1c4b255148cfb74c630804b847fc0c7b34a1680f521d65a6697339bd49de23021064c658ca7524e636089bff74906e625c9207b4c99e_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  min-height: 355px;
}

.u-section-1 .u-container-layout-12 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-1 .u-list-2 {
    margin-left: initial;
  }

  .u-section-1 .u-repeater-2 {
    min-height: 309px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    min-height: 710px;
    grid-template-columns: repeat(2, calc(50% - 4px));
  }

  .u-section-1 .u-repeater-2 {
    min-height: 710px;
    grid-template-columns: repeat(2, calc(50% - 4px));
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 177px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-12 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-left: 111px;
  }
}